:root {
    --link: #00b0f4;
    --embedTextColor: #dcddde;
    --embedTextColor2: #72767d;
    --embedBackground: #2f3136;
    --fullEmbedBackground: #36393f;
    --side1Background: #2c2e33;
    --side1Background: #2f3136;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --header-secondary: #b9bbbe;
    --interactive-muted: #4f545c;
}

.mainBuilder .side2 {
    height: 100%;
    background-color: var(--fullEmbedBackground);
    justify-content: center;
    vertical-align: center;
    overflow: auto;
    scrollbar-color: #26272d #36393f;
    scrollbar-width: thin;
}

.hljs-comment, .hljs-quote {
    color: var(--interactive-muted);
}

.hljs-addition, .hljs-keyword, .hljs-selector-tag {
    color: #859900;
}

.hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
    color: #2aa198;
}

.hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
    color: #268bd2;
}

.hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #b58900;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
    color: #cb4b16;
}

.hljs-built_in, .hljs-deletion {
    color: #dc322f;
}

.hljs-formula {
    background: #073642;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

.cm-string {
    color: #92deea!important;
}

.cm-string~.cm-string {
    color: #c3e88d!important;
}

.cm-number {
    color: #d19a66!important;
}

code, [class^="cm-"] {
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    font-size: 14px;
    line-height: 16px;
}


img[alt] {
    text-indent: -9999px;
}

.msgEmbed {
    min-height: 2.75rem;
    position: absolute;
    overflow-wrap: break-word;
    user-select: text;
    width: 100%;
    margin: 10px 0 0 0;
    padding: calc(0.125rem + 10px) 20px 20px 92px;
}

.msgEmbed:hover {
    background-color: #04040512;
}

.embedTitle>* {
    line-height: 1.375rem;
}

.avatarEmbed {
    position: absolute;
    left: 36px;
    margin-top: calc(4px - 0.125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    flex: 0 0 auto;
    z-index: 1;
}

.timeText {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--embedTextColor2);
    vertical-align: baseline;
    margin-left: 0.25rem;
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
}

.botTag {
    height: 15px;
    padding: 0 4px;
    margin-top: 1px;
    border-radius: 3px;
    background: rgb(88, 101, 242);
    font-size: 10px;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    text-indent: 0px;
    position: relative;
    margin-left: 4px;
    margin-right: 0px;
    margin-top: 1px;
    line-height: 10px;
    white-space: nowrap;
    color: #fff;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
}

.botText {
    position: relative;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    text-indent: 0px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.usernameEmbed {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #fff;
    display: inline;
    vertical-align: baseline;
    position: relative;
}
.usernameEmbed:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
.imageWrapper {
    display: block;
    position: relative;
    user-select: text;
    overflow: hidden;
    border-radius: 3px;
}

.imageWrapper img {
    position: absolute;
}

.clickable {
    cursor: pointer;
}

.embed {
    position: relative;
    display: grid;
    max-width: 520px;
    box-sizing: border-box;
    border-radius: 4px;
    border-left: 4px solid var(--fullEmbedBackground);
    background: var(--embedBackground);
    border-color: #1e2327;
}

.embedAuthorName, .embedAuthorNameLink, .embedDescription, .embedFieldName, .embedFieldValue, .embedFooterText, .embedLink, .embedProvider-3k5pfl, .embedTitle, .embedTitleLink-1Zla9e {
    unicode-bidi: plaintext;
    text-align: left;
}

.emoji {
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom;
}

.embed .emoji {
    width: 18px;
    height: 18px;
}

.embedGrid {
    overflow: hidden;
    max-width: 516px;
    padding: 0.5rem 1rem 1rem 0.75rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-columns: auto min-content;
}

.embedMargin {
    margin-top: 8px;
}

.embedLink {
    text-decoration: none;
    cursor: pointer;
}

.embedAuthor {
    display: flex;
    align-items: center;
    grid-column: 1 / 1;
}

.embedAuthorName {
    font-size: 0.875rem;
    font-weight: 600;
}

.embedAuthorIcon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    border-radius: 50%;
}

.embedTitle {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    grid-column: 1 / 1;
}

.embedDescription {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    grid-column: 1 / 1;
}

.embedImage {
    margin-top: 16px;
    grid-column: 1 / 1;
    border-radius: 4px;
    contain: paint;
    grid-column: 1 / 3;
    max-width: 100%;
}

.embedImage, .embedThumbnail {
    display: block;
    object-fit: fill;
}

.embedImage, .embedThumbnail {
    display: block;
    border-radius: 4px;
}

.embedThumbnail {
    width: 80px;
    height: 80px;
}

.embedThumbnail {
    grid-area: 1 / 2 / 8 / 2;
    margin-left: 16px;
    margin-top: 8px;
    flex-shrink: 0;
    justify-self: end;
    width: 80px;
    height: 80px;
}

.embedFooter {
    display: flex;
    align-items: center;
    grid-area: auto / 1 / auto / 1;
}

.embedFooter {
    grid-column: 1 / 3;
}

.embedFooterText {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--embedTextColor);
}

.embedFooterSeparator {
    font-weight: 500;
    color: var(--embedTextColor);
    display: inline-block;
    margin: 0px 4px;
}

.embedFooterIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 50%;
}

.embedFields {
    display: grid;
    grid-column: 1 / 1;
    margin-top: 8px;
    gap: 8px;
    min-width: 0px;
    grid-gap: 8px;
}

.embedField {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    min-width: 0px;
}

.embedFieldName {
    font-weight: 600;
    margin-bottom: 2px;
}

.embedFieldValue {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    min-width: 0px;
}

.embedDescription, .embedFieldValue {
    color: var(--embedTextColor);
}

.embedAuthorName, .embedFieldName, .embedTitle {
    color: #fff;
}

.embedGrid>* {
    display: none;
}

.messageContent {
    user-select: text;
    margin-left: -72px;
    padding-left: 72px;
}

.messageContent.markup {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    font-weight: 400;
}

.markup em {
    font-style: italic;
}

.markup strong {
    font-weight: 700;
}

.markup {
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
    color: var(--embedTextColor);
    font-weight: 400;
}

.markup a {
    word-break: break-word;
    text-decoration: none;
    cursor: pointer;
}

.anchor {
    color: var(--link);
}

.markup a:hover {
    text-decoration: underline;
}

.markup code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--background-tertiary) var(--background-secondary);
    background: #2f3136;
    border: 1px solid #202225;
}

.markup pre>code {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    text-size-adjust: none;
}

.embed blockquote {
    max-width: 100%;
}

.blockquote {
    display: flex;
}

.blockquote blockquote {
    padding: 0 8px 0 12px;
    box-sizing: border-box;
    text-indent: 0;
}

.blockquote .blockquoteDivider {
    width: 4px;
    border-radius: 4px;
}

.blockquoteDivider {
    background-color: var(--interactive-muted);
}

.markup code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.markup code.inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap;
}

.markup pre, .markup blockquote {
    max-width: 90%;
}

.markup pre {
    border-radius: 4px;
    padding: 0;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 6px;
    white-space: pre-wrap;
    background-clip: border-box;
}

.embed code {
    border: none;
    background: var(--background-tertiary);
}

.CodeMirror {
    background-color: #212121;
    color: #eff;
    width: 100%!important;
    height: 100%!important;
    background-color: inherit!important;
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error {
    background-image: none!important;
}

.CodeMirror-lint-marker-error:after, .CodeMirror-lint-message-error:before {
    content: "!";
    color: #f45711;
    font-size: 20px;
    position: relative;
    left: 10px;
    top: -3px;
}

.CodeMirror-lint-message-error:before {
    content: "!";
    color: #f45711;
    font-size: 20px;
    position: relative;
    left: -15px!important;
    top: 1px!important;
}

.CodeMirror-lint-tooltip {
    box-shadow: 1px 10px 15px rgb(0 0 0 / 17%);
    background-color: #202225!important;
    border: 1px solid #373a40!important;
    color: #cacaca!important;
}

.CodeMirror-lint-message {
    padding: 5px 5px 10px 18px;
}

.CodeMirror-code .CodeMirror-gutter-wrapper .CodeMirror-gutter-elt {
    left: 0px!important;
}

.CodeMirror-gutters {
    background: #292b2f!important;
    display: none;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    padding: 0 12px;
}

.CodeMirror-lint-marker.CodeMirror-lint-marker-error {
    left: 15px!important;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    padding: 0 15px!important;
}

.CodeMirror-foldmarker {
    color: #e5ecff!important;
    text-shadow: none!important;
    font-size: 20px;
}

.CodeMirror-cursor {
    border-left: 2px solid #6ba6ff !important;
    height: 17px!important;
}

.CodeMirror-scrollbar-filler {
    display: none!important;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
    background: #202225!important;
}

.cm-s-material-darker .cm-comment {
    color: #5d616b!important;
}

.cm-s-material-darker .CodeMirror-matchingbracket {
    text-decoration: none!important;
    background-color: rgb(173 192 212 / 3%)!important;
    color: #b9c3d6 !important;
    border-bottom: 1px solid #c2d6ff!important;
    /* border: 1px solid #bacdf347; */
}

.col.cm-string.cm-property::before {
    content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath style='fill:%23D8D8DA;' d='M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M256,336.842c-44.648,0-80.842-36.194-80.842-80.842s36.194-80.842,80.842-80.842s80.842,36.194,80.842,80.842 S300.648,336.842,256,336.842z'/%3E%3Cpath style='fill:%23D4B6E6;' d='M282.947,188.632h220.076C485.09,122.726,441.507,67.394,383.64,34.044L229.053,188.632H282.947z'/%3E%3Cpath style='fill:%23EBAFD1;/*! fill: %23e592bf; */' d='M229.053,188.632L383.639,34.044C346.068,12.39,302.482,0,256,0c-23.319,0-45.899,3.135-67.368,8.978 v220.075L229.053,188.632z'/%3E%3Cpath style='fill:%23E07188;' d='M188.632,229.053V8.978C122.726,26.91,67.394,70.493,34.045,128.36l154.586,154.588V229.053z'/%3E%3Cg%3E%3Cpolygon style='fill:%23D8D8DA;' points='188.632,229.053 229.053,188.633 282.947,188.633 282.947,188.632 229.053,188.632 '/%3E%3Cpolygon style='fill:%23D8D8DA;' points='229.053,323.367 188.632,282.947 229.053,323.368 282.947,323.368 323.368,282.947 282.947,323.367 '/%3E%3C/g%3E%3Cpath style='fill:%23B4D8F1;' d='M503.024,188.632H282.947v0.001h0.958l39.463,40.42L477.955,383.64 C499.611,346.068,512,302.482,512,256C512,232.681,508.865,210.099,503.024,188.632z'/%3E%3Cpath style='fill:%23ACFFF4;' d='M323.368,282.947v220.075c65.905-17.932,121.238-61.517,154.586-119.382L323.368,229.053V282.947z'/%3E%3Cpath style='fill:%2395D5A7;' d='M282.947,323.368L128.361,477.956C165.932,499.61,209.518,512,256,512 c23.319,0,45.899-3.135,67.368-8.977V282.947L282.947,323.368z'/%3E%3Cpath style='fill:%23F8E99B;' d='M229.053,323.368H8.976C26.91,389.274,70.493,444.606,128.36,477.956l154.588-154.588H229.053z'/%3E%3Cpath style='fill:%23EFC27B;' d='M188.632,282.947L34.045,128.36C12.389,165.932,0,209.518,0,256c0,23.319,3.135,45.901,8.976,67.368 h220.076L188.632,282.947z'/%3E%3Cpolygon style='fill:%23E3E3E3;' points='283.905,188.633 282.947,188.633 323.368,229.053 '/%3E%3Cpath style='fill:%23B681D5;' d='M503.024,188.632C485.09,122.726,441.507,67.394,383.64,34.044L256,161.684v26.947h26.947H503.024z'/%3E%3Cpath style='fill:%23E592BF;' d='M383.639,34.044C346.068,12.39,302.482,0,256,0v161.684L383.639,34.044z'/%3E%3Cpath style='fill:%2380CB93;' d='M256,350.316V512c23.319,0,45.899-3.135,67.368-8.977V282.947l-40.421,40.421L256,350.316z'/%3E%3Cpolygon style='fill:%23F6E27D;' points='282.947,323.368 256,323.368 256,350.316 '/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 40px;
    cursor: pointer;
    opacity: .5;
    transition: 1s ease;
}

.CodeMirror:hover .col.cm-string.cm-property::before {
    opacity: 1;
}

@keyframes emptyTxtAn {
    from {
        opacity: 0;
    }
}

.emptyTxt {
    animation: emptyTxtAn 1s ease;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 16px;
    color: #41444a;
    font-family: var(--font2);
    padding: 10px 0;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@keyframes clearAn {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-13deg);
    }
}

.clear:hover>svg {
    animation: clearAn 1s ease-in-out forwards;
    transform-origin: top right;
}

.messageContent.empty, .messageContent+.container.empty, .emptyTxt {
    display: none;
}

.messageContent.empty+.container.empty+.emptyTxt {
    display: block;
    position: absolute;
    top: 800%;
}

.clear>svg {
    width: 20px;
    height: 100%;
    position: relative;
    left: -2.5px;
    top: -2px;
}

::-webkit-scrollbar {
    width: 7px;
    background: #292b2f00;
}

::-webkit-scrollbar-thumb {
    background: #202225;
}

@media screen and (max-width: 1270px) {
    .fieldNumber::before {
        right: 300%;
    }
}

@media screen and (max-width: 530px) {
    .msgEmbed {
        margin: 20px 0px;
        padding: 0.125rem 0 20px 65px;
    }
    .avatar {
        left: 10px;
    }
    .mainBuilder .side1 {
        padding: 10px;
    }
}

@media screen and (max-height: 760px) {
    .bottom .colrs {
        bottom: 10px;
    }
    body.gui .side1 .item.top {
        height: 65%;
        max-width: 100%;
        width: 100%;
    }
    .bottom {
        margin: 40px 0 0 0 !important;
    }
}

@media screen and (max-width: 1015px) {
    .clear {
        position: absolute;
        cursor: pointer;
        z-index: 5;
        left: 135px;
    }
    .mainBuilder {
        display: flex;
        flex-direction: column;
    }
    .side1 .item.top {
        height: 100%;
    }
    .notification .inline {
        display: block;
        margin-top: 5px;
    }
    .bottom .colrs {
        bottom: 40px;
        left: 200px;
        display: none;
        top: 0;
        animation: colrsAn .1s ease-out;
        box-shadow: 0px 5px 15px 0px #0000004f;
    }
    body.gui .side1 .item.top {
        height: 85%;
        max-width: 100%;
        width: 100%;
    }
    .bottom {
        margin: 40px 0 0 0 !important;
    }
    .pickerToggle {
        display: block;
        position: absolute;
        cursor: pointer;
        z-index: 5;
        left: 170px;
        border-left: 2px solid #4c5057;
        padding-left: 15px;
        bottom: auto;
        margin-left: 15px;
    }
    .pickerToggle>svg {
        width: 17px;
    }
    .side1 .item.top {
        padding-top: 10px;
        transform: translateY(10px);
    }
}

@media screen and (max-width: 460px) {
    .bottom .colrs {
        top: 70px;
        left: 10px;
    }
    .top>.gui {
        margin-top: 5px;
    }
}
