:root,
[data-bs-theme="light"] {
    --prism-background-color: #f6f8fa;
    --prism-color: #393a34;
    --nns-box-shadow-input: 0 1px 1px rgba(var(--bs-body-color-rgb), 0.06);
}

[data-bs-theme="dark"] {
    --prism-color: #d4d4d4;
    --prism-background-color: #212121;
}

.form-control:focus {
    box-shadow: var(--nns-box-shadow-input), 0 0 0 .25rem rgba(var(--bs-primary-rgb), .25)!important;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* Code Block */

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    overflow: auto;
    font-size: 0.875em;
    background: var(--prism-background-color);
    color: var(--prism-color);
    border-radius: 1rem;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: 0.875em;
    color: var(--bs-code-color);
    word-wrap: break-word;
    border-radius: 0.75rem;
}

.modal {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.modal.noblur {
    -webkit-backdrop-filter: none!important;
    backdrop-filter: none!important;
}

.form-floating> :disabled~label {
    color: rgba(var(--bs-body-color-rgb), 0.65)!important;
}